<div class="jumbotron">
  <h2>Distribution</h2>
  
  <h3><%= @event_name %>.<%= @measurement %></h3>
    
  <ul>    
    <%= for {measure, count} <- @histogram do %>
      <li>
        <%= measure %>: <%= count %> 
      </li>
    <% end %> 
  </ul>

</div>