<div class="jumbotron">
  <h2>Metrics</h2>
  
  <h3><%= @event_name %></h3>

  <h4>Measurements</h4>
  <ul>
    <%= for measurement <- @measurements do %>
      <li>
        <%= link(measurement, to: Routes.metrics_path(@conn, :metrics, @event_name, measurement), class: "btn") %>
      </li>
    <% end %> 
  </ul>
</div>
