<div class="jumbotron">
  <h2><%= @metric_name %></h2>
  
  <h3><%= @event_name %>.<%= @measurement %></h3>

  <h4>Bucketed by <%= @precision %></h4>

  <ul>
    <%= for %{time: time, metric: metric} <- @metrics do %>
        <li><%= time %>
        <%= case metric do 
            %{} = aggregates -> render("aggregates.html", aggregates: aggregates)
            aggregate -> render("aggregate.html", aggregate: aggregate)
         end %>
         </li>
    <% end %>
  </ul>
</div>
