<div class="jumbotron">
  <h2>Statistics</h2>
  
  <h3><%= @event_name %>.<%= @measurement %></h3>  

  <h4>median: <%= @statistics.median %></h4>
  <h4>mean: <%= @statistics.mean %></h4>
  <h4>max: <%= @statistics.max %></h4>
  <h4>min: <%= @statistics.min %></h4>
  <h4>mode: <%= @statistics.mode %></h4>
  <h4>p95: <%= @statistics.p95 %></h4>
  <h4>p99: <%= @statistics.p99 %></h4>    
  <h4>Earliest Event: <%= @first_event_time %></h4>
</div>